body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, transparent 38%,hsl(0, 0%, 95%) 38%);
}
h1{
  font-size: 4rem;
  font-weight: 700;
  color: hsl(260, 8%, 14%);
}

.short-bg{
  background-image: url('images/bg-shorten-desktop.svg');
  background-size: cover;
  background-position: center;
  background-color: hsl(257, 27%, 26%);
}

h2{
  color: hsl(255, 11%, 22%);
  font-size: 2.8rem ;
  font-weight: 700;
}

p{
  color:  hsl(257, 7%, 63%)
}

.feature-card{
  position: relative;
  background-color: white;
}

.feature-img{
  padding: 20px;
  border-radius: 50px;
  position: absolute;
  left: 30px;
  top: -35px;
  background-color: hsl(257, 27%, 26%);
}


/* For mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  .short-bg {
    background-image: url('images/bg-shorten-mobile.svg');
  }
}
